body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

header{
    padding: 20px;
    background-color: #1db954;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 0;
}

header nav a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.playlist{
    padding: 20px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: #1db954;
}